*{
    margin: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

ol{
    margin-left:0;
}

.choices ol{
    border: 1px solid black;
    padding: 10px;
}

ol:hover{
    background-color:pink;
}

p{
    color:black;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: pink;
}

button{
    border: 1px solid black;
    padding: 10px;
    background-color:white;
    color: black;
    /*width: 100%;*/
}

button:hover{
    background-color:pink;
    color: white;
}

.answers{
    font-style: italic;
    color: lightcoral;
    
}
